.about-name, .about-title {
  color: #607089;
}

.about-name { 
  font-size: 40px;
}

.about-title { 
  font-size: 25px;
}

.about-pic {
  width: 250px;
  border-radius: 50%;
  border: 5px solid #607089;
  margin: 20px 0px 30px 0px;
}

.about-desc, .about-skills { 
  color: #607089;
}

.about-desc *, .about-skills *{
  padding-left: 10px;
}

.about-skills {
  border-left: 2px solid #607089;
}

.about-skill-list { 
  display: grid;
  grid-template-columns: 50% 50%;
}

.about-content { 
  padding-top: 30px;
  text-align: left;
}

.about-skill-list {
  list-style-type: disc;
  padding-left: 30px;
}

.skill-title {
  color: black;
  font-size: 20px;
}

.about-skill-area { 
  padding-left: 8px;
}