.nav {
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10%;
  grid-template-rows: 60px;
  text-align: center;
  position: fixed;
  z-index: 1;
}

.nav a {
  color: #607089;
}

.nav a:hover {
  color: #607089;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-bottom: 5px solid white;
  color: #607089;
}

.nav-item-active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-bottom: 5px solid #607089;
  color: #607089;
}